@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body{
    max-width: 1320px;
    margin:auto;
}
.btn-primary{
    font-size: 1.25rem;
    color: #fff;
    background-color: #F948B2; 
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-secondary{
    font-size: 1.25rem;
    color: #fff;
    background-color: #4EC5F7; 
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.gradient-primary{
    background: -webkit-linear-gradient(#F948B2, #8758F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* main styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 12px -18px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo > img{
    width: 86px;
    height: 40px;
}
.logo > h4{
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
}
.logo > h4> span{
    color: #FF42A5;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-right: 15px;
    cursor:pointer;
}
.menu ul > .social-list{
    display: flex;
    align-items: center;
    background-color: #dddd;
    padding: 8px 16px;
    border-radius: 5px;
    border: 0;
}
.menu ul > .social-list > p{
    margin-right: 15px;
}
.menu ul > .social-list > img{
    width: 24px;
    height: 24px;
    margin-right: 10px;

}

/* play like section style */
.play_like{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.play-like-left{
    width: 50%;
}
.play-like-left-text{
    width: 25rem;
}
.play-like-left h3{
    font-size: 3rem;
    color: #0B0223;
    font-weight:600;
}
.play-like-left h1{
    font-size: 5.5rem;
    background: -webkit-linear-gradient(#F948B2, #8758F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rule{
    display: flex;
    font-size: 1.25rem;
    margin-top: 10px;
}
.rule img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}

.play_btn{
    margin-top: 30px;
}

.play-like-right{
    width: 50%;
}
.play-like-right img{
    max-width: 100%;
}

/*gamer section style*/
#gamer{
    padding: 0px 100px;
    background-color: #f9f1f9;
}
.gamer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-left{
    width: 55%;
}
.gamer-left img{
    width: 100%;
}
.gamer-right{
    width: 45%;
    text-align: right;
}
.gamer-right h2{
    font-size: 3rem;

}
.gamer-right .gamer-title{
    font-size: 18px;
    color: #534C64;
    line-height: 30px;
}
.gamer-right button{
    margin: 20px 0px;
}
.gamer-right p{
    font-size: 1.25rem;
    color: #534C64
}
.gamer-right q{
    font-size: 1.75rem;
    color: #534C64;
    font-weight: 700;
}

/*online games section style*/
.online-game{
    padding: 40px 100px;
}
.online-game-title{
    text-align: center;
    margin: 40px 0px;
}
.online-game-title > h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
.online-game-title > p{
    font-size: 18px;
    color: #534C64;
}
.game-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}
.game{
    max-width: 250px;
    height: 360px;
}
.game img{
    width: 100%;
}
.game > p{
    font-size: 1rem;
    color: #534C64;
    margin-top: 15px;
}
.game-video{
    position: relative;
}
.game-video > img{
    filter: brightness(0.3);
}
.video-content{
    position:absolute;
    top: 120px;
    left: 80px;
    text-align: center;
    cursor: pointer;
}
.video-content img{
    width: 30px;
    height: 30px;
}
.video-content p{
    font-size: 18px;
    color:#FF42A5;
}

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li{
        margin: 20px 0px;
    }
    .play_like{
        flex-direction: column-reverse;
    }
    .play-like-left{
    width: 25rem;
    background-color: #f9f1f9;
    border-radius: 4px;
    margin-top: 20px;
    }
    .play-like-left-text{
        width: 100%;
        padding: 20px;
    }
    .play-like-left-text h3{
        font-size: 2.5rem;
    }
    
    .play-like-right{
        width: 25rem;
    }
    #gamer{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding: 0px 5px;
        margin-top: 30px;
    }
    .gamer-left{
        width:27.5rem;
    }
    .gamer-left img{
        width: 100%;
    }
    .gamer-right{
        width: 27.5rem;
        text-align: center;
        padding:0px 5px;
    }
    .gamer-right button{
        margin: 30px 0px;
    }
    .gamer-right q{
        font-size: 1.5rem;
    }

    .online-game{
        padding: 0px 5px;
    }
    .online-game-title > h1{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .online-game-title > p{
        font-size: 1.25rem;
    }
    .game-container{
        justify-items: center;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }

    
}