@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;1,6..12,300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body{
    max-width: 1280px;
    margin:auto;
}

/* main styles  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 12px -18px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.logo > img{
    width: 86px;
    height: 40px;
}
.logo > h4{
    font-size: 45px;
    font-weight: bold;
    margin-left: 15px;
}
.logo > h4> span{
    color: #FF42A5;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-right: 15px;
}
.menu ul > .social-list{
    display: flex;
    align-items: center;
    background-color: #dddd;
    padding: 8px 16px;
    border-radius: 5px;
    border: 0;
}
.menu ul > .social-list > p{
    margin-right: 15px;
}
.menu ul > .social-list > img{
    width: 24px;
    height: 24px;
    margin-right: 10px;

}


@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu ul li{
        margin: 20px 0px;
    }
}